:root {
   --background-primary-color: #000000;
   --color-duo: #14213d;
   --color-three: #fca311;
   --color-four: #e5e5e5;
   --text-color: #ffffff;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--background-primary-color);
   color: var(--text-color);
   font-family: sans-serif;
   font-style: normal;


}

.inicio {
   width: 100%;
   overflow: hidden;
   height: 128px;
   background-color: var(--color-four);
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   position: relative;

}

.inicio img {

   width: 120px;
   height: auto;
}


input[type="checkbox"]:checked~nav {
   display: block;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: var(--color-four);

}

nav {
   display: none;

}

.list-nav li {
   list-style: none;
   margin: 16px 15px;

}

.list-nav a {
   text-decoration: none;
   color: var(--background-primary-color);
   font-weight: 700;
   font-size: 20px;
}

.active {
   color: var(--color-three);
   text-decoration: underline;
}



.title {
   margin-top: 60px;
}

.title h2 {
   font-size: 32px;
   padding-bottom: 20px;
   text-align: center;
   font-weight: 700;

}

hr {
   width: 180px;
   height: 4px;
   background-color: var(--color-three);
   border: none;
   margin: auto;
}

.title p {
   color: var(--text-color);
   font-size: 20px;
   font-weight: 500;
   text-align: center;
   margin-top: 30px;
}


.container {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 40px;

}



form {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 40px;


}

fieldset {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 700px;
   height: 500px;
   border-radius: 20px;
   padding: 20px;
   border: 1px solid #fca311;
   box-shadow: 4px 4px 10px #fca311;

}


input {
   border-radius: 10px;
   width: 100%;
   margin-top: 18px;
   height: 30px;
   padding: 22px;
   border: 2px solid #000000;


}

input:valid {
   border: 2px solid green;
}

input:invalid {
   border: 2px solid red;
}


textarea {
   min-height: 180px;
   border-radius: 20px;
   padding: 10px;
   width: 100%;
   margin-top: 18px;

}

button {
   background-color: #fca311;
   width: 300px;
   padding: 18px;
   border-radius: 20px;
   margin: 20px auto;
   color: var(--text-color);
   font-size: 20px;
   font-weight: 700;
   cursor: pointer;

}


.final {
   background-color: var(--color-four);
   width: 100%;
   height: 200px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);

}


.foo p {
   color: var(--color-duo);
   font-size: 20px;
   padding: 10px 10px;
   font-weight: 700;
}

.foo span {
   color: var(--color-three);
   font-weight: 800;
   font-size: 20px;
   padding: 10px 10px;

}

.foo2 {
   text-align: center;
   color: var(--color-duo);
   font-size: 20px;
   font-weight: 700;
   margin-top: 20px;

}

.foo2 p {
   padding: 20px;
}

.foo2 i {
   padding-bottom: 30px;
   font-size: 30px;
}

@media screen and (min-width: 768px) {

   header {
      padding: 30px;
   }

   .menu {
      width: 467px;
   }

   .menu label {
      display: none;
   }

   .menu ul {
      display: flex;
      align-items: center;
      gap: 50px;
   }

   .menu nav {
      display: block;
   }

   .menu li a:hover {
      color: var(--color-three);

   }

   .title p {
      font-size: 24px;
   }

   .container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 700px));
      gap: 40px;
   }


   .img-cont {
      background-image: url(../img/logo.png);
      background-size: cover;
      width: 100%;
      height: 500px;

   }

   button:hover {
      background-color: var(--color-duo);
      border: none;
   }

}