:root {
   --background-primary-color: #000000;
   --color-duo: #14213d;
   --color-three: #fca311;
   --color-four: #e5e5e5;
   --text-color: #ffffff;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--background-primary-color);
   color: var(--text-color);
   font-family: sans-serif;

}

.inicio {
   width: 100%;
   height: 128px;
   background-color: var(--color-four);
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   position: relative;
}

.inicio img {

   width: 120px;
   height: auto;
}


input[type="checkbox"]:checked~nav {
   display: block;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: var(--color-four);

}

nav {
   display: none;

}

.list-nav li {
   list-style: none;

   margin: 16px 0;
}

.list-nav a {
   text-decoration: none;
   color: var(--background-primary-color);
   font-weight: 700;
   font-size: 20px;
}

.title {
   margin-top: 60px;
}

.title h2 {
   font-size: 32px;
   padding-bottom: 20px;
   text-align: center;
   font-weight: 700;

}

hr {
   width: 180px;
   height: 4px;
   background-color: var(--color-three);
   border: none;
   margin: auto;
}


@media screen and (min-width: 768px) {

   header {
      padding: 30px;
   }

   .menu {
      width: 467px;
   }

   .menu label {
      display: none;
   }

   .menu ul {
      display: flex;
      align-items: center;
      gap: 50px;
   }

   .menu nav {
      display: block;
   }

   .menu li a:hover {
      color: var(--color-three);

   }
}